 *{
    font-family: "Mulish", serif;
 }

 #heading{
    color: darkgreen;
    background-color: rgb(144, 238, 144)
    
 }

 #header{
    color: green;
 }
 #email{
    color: green;
    font-weight: bold;
 }
 #viewdata{
    color: green;background-color: greenyellow; font-weight: bold;    
    font-size: small;
}
 .background{
    background-color: rgb(197, 252, 197); 
 }